[user]
	name = thomssonkarl
	email = thomsson_99@hotmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	autoSetupRemote = true
